<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.mydellkeyboardbundle</string>
	<key>CFBundleName</key>
	<string>MyDellKeyboardBundle</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_ABC copy</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.mydellkeyboardbundle.abccopy</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
	<key>KLInfo_Russian copy</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.mydellkeyboardbundle.russiancopy</string>
		<key>TISIntendedLanguage</key>
		<string>ru</string>
	</dict>
</dict>
</plist>
